:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.form-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-inline: 1rem;
	padding-block: 2rem;
	background: #5c5c5c;
	border-radius: 0.75rem;
	min-width: 25ch;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.form-card h1 {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin-block-end: 1.5rem;
}

.form-card label {
	display: block;
	font-size: 0.9rem;
	margin-block-end: 0.25rem;
  justify-content: none;
  text-align:left;
}

.form-card input {
	width: calc(100% - 1rem);
	padding: 0.5rem;
	border: none;
	border-radius: 0.3rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.btn-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  border-radius:20px;
  height:30px;
}

.btn-glass:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
}